


:root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%); 
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}









* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: var(--Very-Light-Gray);
}
img {
  max-width: 100%;
}
.overflow-hidden{
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: 20px;
}
p {
  font-size: 14px;
  font-family: "Alata", sans-serif;
  color: var(--Grayish-Blue);
}
ul {
  list-style: none;
}
button {

  font-family: "Alata", sans-serif;
  border: 0;
  color: var(--black);
}

/* Header */

.header {
  position: fixed;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}
.logo{
    padding: 10px 0px 0px 0px;
    width: 40vw;
}
footer .logo{
    margin: auto;
}
.header nav {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--black);
  min-height: 100vh;
} 
.header nav.open {
  display: block;
   transition: 2s all ;
}

.header nav .nav-logo {
  padding: 25px 0px 0px 20px;
  width: 40vw;
}

.header nav ul {
  padding-top: 70px;
}
.header nav ul li {
  margin-bottom: 30px;
  padding-left: 20px;
}
.header nav ul li button {
  text-transform: uppercase;
  font-size: 5vw;
}
.header .menu-btn {
       display: block;
        position: absolute;
        background: url(./assets/images/icon-hamburger.svg);
        transition: 1s all;
        color: white;
        width: 2rem;
        background-repeat: no-repeat;
        top: 1.5rem;
        border: 0; 
        right: 2rem;
        z-index: 9999;
        aspect-ratio: 1;
}

.header .menu-btn.active {
    background: url(./assets/images/icon-close.svg);
     background-repeat: no-repeat;
     transition: 1s all;
}
.intro-section{
    text-align: center;
}
.intro-image{
    background-image: url(./assets/images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}   
.intro-section h1{
    padding: 20px 0px 20px 0px;
    color: var(--Dark-Blue);
}

.intro-section button{
    margin-top: 20px;
    padding: 8px 17px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-image: linear-gradient(to left, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.why-section{
    text-align: center;
    width: 70%;
    margin: auto;
}
.why-choose h1{
    padding: 40px 0px 20px 0px;
    color: var(--Dark-Blue);
}
.reason-choose{
    margin-top: 30px;
    background-color: var(--Light-Grayish-Blue);
    padding: 20px 0px 20px 0px;
}
.reason-choose h2{
    padding: 20px 0px 20px 0px;
}
.reason-choose p{
    padding: 0px 10px 20px 10px;
}
.latest-section{
align-items: center;
text-align: center;
padding: 40px 0px 20px 0px;
}
.latest-articles{
    margin-top: 40px;
}
.article-card{
    background-color: var(--White);
    width: 70%;
    text-align: left;
    margin-inline: auto;
    margin-top: 40px;
}
.article-card h3{
    padding: 0px 10px 0px 20px;
    font-size: 15px;
}
.small{
    font-size: 7px;
    padding: 20px 0px 10px 20px;
}
.big{
    font-size: 10px;
    padding: 20px 10px 20px 20px;
}


.footer {
  /* background-color: var(--Dark-Blue); */
  color: var(--white);
  padding: 50px 0;
  margin-top: 50px;
  text-align: center;
}
.footer .logo {
  padding: 20px;
  margin: auto;
}

.footer ul {
  margin-bottom: 20px;
}
.footer ul li {
  margin-bottom: 20px;
}
.footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .social li {
  margin-bottom: 0;
  margin-right: 20px;
  font-size: 24px;
}
.footer .copy-right {
  font-family: "Alata", sans-serif;
  color: var(--dark-gray);
  font-size: 15px;
}


















